/* 
    Created on : 23 abr. 2022, 2:55:12 a. m.
    Author     : neury-dev
*/
/* maquetado
--------------------------------------------------------------------------------*/
@media screen and (max-width: 550px) and (min-width: 400px) { 
    header,
    main,
    .pokemon,
    footer,
    #pokeball {
        font-size: 0.70em;
    }
    
    #detalles > section {
        font-size: 0.50em;
    }
}    
@media screen and (max-width: 399px) and (min-width: 300px) { 
    header,
    main,
    .pokemon,
    footer,
    #pokeball {
        font-size: 0.50em;
    }
    
    #detalles > section {
        font-size: 0.30em;
    }
}   
@media screen and (max-width: 299px) { 
    #visualizar:not(#pokeball) {
        display: none;
    }
    #pokeball {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 1em);
        height: auto;
        margin: auto;
    }
} 
